<google-map
  width="100%"
  [zoom]="zoom"
  height="100vh"
  [center]="
    selectedAirport
      ? { lat: selectedAirport.lat, lng: selectedAirport.lng }
      : { lat: 61.0, lng: 7.0 }
  "
>
  <map-marker
    *ngFor="let airport of airports"
    [position]="{ lat: airport.lat, lng: airport.lng }"
    (mapClick)="openInfoWindow(marker, airport)"
    #marker="mapMarker"
  ></map-marker>
  <map-info-window [position]="selectedAirportPosition || { lat: 0, lng: 0 }">
    <div *ngIf="selectedAirport">
      <h3 class="font-bold mb-1">
        <a
          [routerLink]="[
            '/airport',
            selectedAirport.iata_code
              ? selectedAirport.iata_code
              : selectedAirport.icao_code
          ]"
          [queryParams]="{
            iata_code: selectedAirport.iata_code,
            icao_code: selectedAirport.icao_code
          }"
          class="text-blue-500 hover:text-blue-700 font-bold"
          >{{ selectedAirport.name }}
        </a>
      </h3>
      <p>
        <span *ngIf="selectedAirport.city">{{ selectedAirport.city }},</span>
        <span *ngIf="selectedAirport.country_code">{{
          selectedAirport.country_code
        }}</span>
      </p>
    </div>
  </map-info-window>
</google-map>
